<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion de contraseña</title>
</head>
<body>
    {% if error %}
        <h2>Se han enviado las instrucciones de recuperacion de contraseña al correo ingresado</h2> 

    {% else %}
        <h1>Error en la recuperacion de la contraseña</h1>
        <h2>El correo ingresado no esta registrado en la base de datos</h2>
    {% endif %}
</body>
</html>