header{
    height: 50px;
    background: purple;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header a{
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

header .panel-derecho {
    display: flex;
    justify-content: flex-end;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.card {
    min-width: 250px;
    background: #ce3535;
    min-height: 250px;
    margin: 20px;
}